<div class="card" ng-if="::clinical.VITAL_STATUS == 'deceased'">
	<div layout="row" layout-align="center center" class="card-header">
		<div class="patient-info-banner" layout="row">
			<div layout="row">
				<md-icon aria-label="Patient Deceased"
				         md-font-library="material-icons">
					warning
				</md-icon>
			</div>

			<span ng-if="::pdc.patient.clinical.RELATED.length == 0">
			  {{ ::pdc.TEMPLATES.deceased_warning }}
			</span>
			<span ng-if="::pdc.patient.clinical.RELATED.length > 0">
				{{ ::pdc.TEMPLATES.deceased_multi_sample_warning }}
			</span>
		</div>

		<span flex> </span>
		<div ng-if="::pdc.patient.clinical.RELATED.length > 0">
			<md-button class="md-raised md-default" ng-click="pdc.sampleSelect(pdc.patient.clinical)"
			           analytics-on="click" analytics-event="View multi sample" analytics-category="Patients" analytics-label="Patient deceased">
				<md-icon aria-label="Multiple samples select"
				         md-font-library="material-icons">
					list
				</md-icon>
				<span hide-sm>Select another sample</span>
			</md-button>
		</div>
	</div>
</div>

