/*
 * Accented info cards
 */

.mini-charts-item {
  position: relative;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.mini-charts-item > .clearfix {
  position: relative;
  z-index: 1;
}

.mini-charts-item .chart {
  padding: 15px;
  float: left;
  color: black;
}

.mini-charts-item .chart.chart-compact {
  padding-right:0px!important;
}

.mini-charts-item .chart > md-icon {
  font-size: 50px;
  color: black;
}

.mini-charts-item .count {
  overflow: hidden;
  color: black;
  padding: 18px 18px;
}

.mini-charts-item .count > h2,
.mini-charts-item .count > small {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mini-charts-item .count > h2 {
  margin: 0;
  line-height: 100%;
  font-size: 22px;
  font-weight: 300;
  color: black !important;
}

.mini-charts-item .count > small {
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: 700;
  color: black;
}
