<div id="methodology">
    <div class="block-header">
        <h2>
            <md-icon aria-label="Summary of Results"
                     md-font-library="material-icons">
                pageview
            </md-icon>
            Methodology
        </h2>
    </div>

    <div class="card" style="padding-top: 20px">
        <div class="card-body card-padding" style="padding-top:0!important;">
            <div class="pb-20">
                <h2 class="md-title">
                    Methodology
                </h2>
                <p>
                    ImmunoProfile is a test that quantifies the expression of immune-regulatory proteins
                    within the tumor microenvironment.
                </p>
            </div>

            <div class="pb-20">
                <h2 class="md-title">Description</h2>
                <p>
                    ImmunoProfile uses multiplex immunofluorescent staining and imaging. Multiplex immunofluorescent
                    staining is done on FFPE samples. This technology uses multiple colors to identify different cells and
                    proteins at the same time on the same slide. Once multiplex staining is complete, an image of the slide
                    is acquired for analysis. Image analysis software is then used to determine the number and percentage of
                    cells positive for the selected biomarkers.
                </p>
                <p>
                    The current version of ImmunoProfile tests for 6 different proteins/markers on one slide: DAPI, PD-L1,
                    CD8, PD-1, FOXP3 and a tumor marker (Cytokeratin, PAX8, PAX5, SOX10). These proteins have been selected because
                    they are targets for existing immunotherapies and there are publications supporting their use as
                    predictors of response.
                </p>
            </div>

            <h2 class="md-title">Regions/Scores</h2>
            <table class="ip-table" style="border-collapse: collapse">
                <tr>
                    <td><b>Intra-Tumor (IT)</b></td>
                    <td>Intra-tumor is the region of tumor cells beyond the tumor-stroma interface.</td>
                </tr>
                <tr>
                    <td><b>Tumor-Stroma Interface (TSI)</b></td>
                    <td>
                        Tumor-stroma interface is the region within 40 microns on either side of the defined border
                        between tumor and stroma.
                    </td>
                </tr>
                <tr>
                    <td><b>Intra-Tumor and Tumor-Stroma Interface (IT + TSI)</b></td>
                    <td>
                        The intra-tumor region combined with the tumor-stroma interface contains the tumor region plus
                        an additional 40 microns of stroma beyond the defined border between tumor and stroma.
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Tumor Proportion Score (TPS)</b>
                    </td>
                    <td>
                        Tumor proportion score is the percentage of viable tumor cells showing PD-L1 staining relative
                        to all viable tumor cells.
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Combined Positive Score (CPS)</b>
                    </td>
                    <td>
                        Combined positive score is the percentage of PD-L1 staining cells (tumor cells and cells that
                        are non-tumor) relative to all viable tumor cells.
                    </td>
                </tr>
                <tr>
                    <td><b>Inflammatory Cells</b></td>
                    <td>
                        Percentage of inflammatory cells (non-tumor cells) showing PD-L1 staining relative to all
                        inflammatory cells.
                    </td>
                </tr>
                <tr>
                    <td><b>PD-L1+ Inflammatory Cell Area (%)</b></td>
                    <td>
                        Area of PD-L1+ inflammatory cells over the area of TSI + IT as a percentage.
                    </td>
                </tr>
            </table>


        </div>
    </div>
</div>
