
<div class="card-body card-padding">
    <h3 class="md-title">Contact</h3>
    <p>
      For detailed methodology and protocol, please contact the Center for Advanced Molecular Diagnostics (857-307-1500).
    </p>
    <h3 class="md-title">
      References
    </h3>
    <p>
     <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3353152/">Wagle et al. High-throughput detection of actionable genomic alterations in clinical tumor samples by targeted, massively parallel sequencing. Cancer Discov. 2012</a>
    </p>
    <p>
      These tests were developed and their performance characteristics determined by the Molecular Diagnostics Laboratory, Brigham and Women’s Hospital. They have not been cleared or approved by the U.S. Food and Drug Administration. The FDA has determined that such clearance or approval is not necessary.
    </p>
</div>
