<div class="card stacked-card">
	<div class="card-header">
		<h2>
			<span>Mutational Signatures </span>
			<span>
				<ng-include src="tooltip({id: 'additional-mutational-signatures'})"></ng-include>
			</span>
		</h2>
        <div class="ms-label" ng-repeat="sig in filter(variants)">
            {{::sig}}
        </div>
		<div class="card-body card-padding" >
            <div layout="row" layout-align="start center" ng-repeat="sig in variants" ng-show="sig" >
                <div ng-if="sig.filter" class="gene-badge-container" layout="row" >
                    <span ng-repeat="filter in sig track by $index" ng-if="!filter.genomic_filter.MMR_STATUS">
                        <i ng-if="$index === 0">Filter Matches: </i>
                        <i ng-if="$index >= 1">&nbsp;</i>
                        <genomic-filter-badge filter="filter" > </genomic-filter-badge>
                    </span>
		        </div>
            </div>
        </div>
    </div>
