<div id="structuralVariants">
	<div class="block-header" ng-if="!isEmbedded">
		<h2>
			<md-icon
					aria-label="Structural Variants"
					md-font-library="material-icons">
				gesture
			</md-icon>
			Structural Variants
		</h2>

		<ul class="actions">
			<li>
				<ng-include src="tooltip({id: 'structural-variants'})"></ng-include>
			</li>
		</ul>
	</div>

	<div class="card" ng-class="{
			'stacked-card': svMut.length,
			'attached-card': !svMut.length
		}">
		<div class="card-header" ng-if="isEmbedded">
			<h2>
				Structural Variants
				<span class="variants-tooltip">
					<ng-include src="tooltip({id: 'structural-variants'})"></ng-include>
				</span>
			</h2>
		</div>

		<div ng-if="!svMut.length" class="info-missing-container" layout="row">
			<md-icon aria-label="No structural variants registered"
			         md-font-library="material-icons">
				warning_outline
			</md-icon>

			<div>
				<h3>No structural variants reported.</h3>
			</div>
		</div>

		<div class="card-header card-padding" ng-if="ctrl.hasSVFilterMatch">
			<!-- SV Notice -->
			<div  class="bgmd-lightblue sv-filter-match" layout="row">
				<md-icon aria-label="Notice"
				         md-font-library="material-icons">
					error_outline
				</md-icon>
				<div>
					<h3>Caution</h3>
          <p>Samples sequenced prior to December 2018 had structural variants reported as plain text, e.g. 'Patient is positive for EML4-ALK fusion...', as opposed to structured data, e.g. geneA=EML4, geneB=ALK.</p>
          <p>For samples with this unstructured data, it is possible that MatchMiner may miss or incorrectly classify some structural variants. For example, a filter for ALK structural variants will match a patient who was 'Negative for ALK rearrangements'.
          Users should therefore always carefully check the structural variant comment for each sample before making a final decision.
          </p>
        </div>
			</div>
			<md-divider></md-divider>
		</div>
		<div class="card-body card-padding" ng-if="svMut.length">
			<div layout="column" ng-repeat="sv in ::svMut track by $index" flex>
				<div layout="row" layout-align="start center">
					<div ng-if="sv.FILTER" class="sv-badge-container" layout="row">
						<i>Filter matches: </i>
						<genomic-filter-badge filter="filter" ng-repeat="filter in ::sv.FILTER"></genomic-filter-badge>
					</div>
				</div>
				<div layout="row" layout-wrap>
					<div ng-bind-html="comment"
					     ng-repeat="comment in ::sv.STRUCTURAL_VARIANT_COMMENT | parsecomments"></div>
				</div>
				<md-divider ng-if="!$last"></md-divider>
			</div>
		</div>
	</div>
</div>
