<div id="pathologistComments">
	<div class="block-header" ng-if="::!isEmbedded">
		<h2>
			<md-icon aria-label="Pathologist Comments"
			         md-font-library="material-icons">
				mode_comment
			</md-icon>
			Pathologist comments
		</h2>

		<ul class="actions">
			<li>
				<ng-include src="tooltip({id: 'pathologist-comments-header'})"></ng-include>
			</li>
		</ul>
	</div>

	<div class="card">

		<div class="card-body card-padding">
			<div ng-bind-html="comment" ng-repeat="comment in ::clinical.REPORT_COMMENT | parsecomments">
			</div>
		</div>
	</div>
</div>
