<div id="qualityControl">
	<div layout="row" layout-align="space-between center">
		<div flex="30" flex-sm="30" flex-xs="50">
			<div class="mini-charts-item">
				<div class="clearfix">
					<div class="chart">
						<md-icon aria-label="Sequencing Reads"
						         md-font-library="material-icons">
							clear_all
						</md-icon>
					</div>
					<div class="count">
                        <small>QC Result</small>
						<h2>Pass</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

