<div id="rhpTestInformation">
    <div class="block-header">
        <h2>
            <md-icon
                    aria-label="Methodology"
                    md-font-library="material-icons">
                pageview
            </md-icon>
            Test Information
        </h2>

    </div>
    <div class="card">
        <div class="card-body card-padding" style="padding-top:0!important;">
            <h3 style="padding-top: 15px" class="md-title">Description</h3>
            <small>
                The BWH Rapid Heme Panel (RHP) Assay is a next generation sequencing assay based on the NEBNext kit from
                New England Biolabs, Inc. A detailed description of the assay is available upon request from Center for
                Advanced Molecular Diagnostics, Brigham and Women's Hospital.
            </small>
            <br/><br/>
            <small>
                Amplification method: NEBNext Direct(R), New England Biolabs, Inc. <br/>
                Assay Version: Rapid Heme Panel V3.0 <br/>
                Genes: Total 88,(183 KB) whole coding sequence for most genes<br/>
                Sequencing platform: Illumina NextSeq 550Dx, 150bp paired-end reads <br/>
                Raw data processing: BWA Mem (v0.7.17)<br/>
                UMI Correction: Fgbio (v0.4.0)<br/>
                Variant Caller: Vardict (v1.6.0) <br/>
                CNV Caller: RobustCNV (internally developed)<br/>
                FLT3-ITD: TsaiITD (internally developed)<br/>
                Data File formats: BAM, VCF<br/>
                Genome version: hg19<br/>
                Metrics: GATK (v.4.0.5.0) and Fgbio (v0.4.0) <br/>
                Variant Annotation: Variant Effect Predictor (v79) <br/>
                Pipeline cutoff: 3 Variant Reads and 1% variant allele frequency. <br/>
                Analytical sensitivity: Varies from locus to locus, but is estimated to be 3.0% at 325x coverage
            </small>
            <br/><br/>
            <small>
                The test performed at Brigham and Women's Hospital were developed and their performance characteristics
                determined by the Molecular Diagnostic Laboratory in the Department of Pathology at BWH. They have not
                been cleared or approved by the U.S. Food and Drug Administration (FDA). The FDA has determined that
                such clearance or approval is not necessary.
            </small>
        </div>
    </div>
</div>
