<div id="rhpInterpretation" style="margin-top: 10px;">
    <div class="block-header" style="margin-bottom: 10px" id="rhpAdditionalFindings">
            <h2>
                <md-icon aria-label="Actionable Findings" md-font-library="material-icons"> mode_comment </md-icon>
                Interpretation
            </h2>
        </div>
    <div class="card attached-card">
        <div class="card-header">
            <h2>
                <span>Interpretation</span>
            </h2>
        </div>

        <div style="padding-top: 15px; padding-bottom: 25px; padding-left: 25px;">
            Data unavailable.
        </div>
    </div>
</div>
